<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EFaturaEDMPort">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://portal2.edmbilisim.com.tr/EFaturaEDM/EFaturaEDM.svc"
                binding="basicHttpBinding" bindingConfiguration="EFaturaEDMPort"
                contract="EdmService.EFaturaEDMPort" name="EFaturaEDMPort" />
        </client>
    </system.serviceModel>
</configuration>